@model MVCKUTUPHANE.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kateori Adı</label>
        <input type="text" class="form-control" name="AD"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Kaydet</button>
    </div>
</form>
