@using MVCKUTUPHANE.Models.Entity
@model List<TBLDUYURU>
@foreach (var item in Model)
{


	<div class="active tab-pane" id="activity">

		<!-- Post -->

		<div class="post">

			<div class="user-block">

				
				<img src="~/AdminLTE-3.0.4/dist/img/2.png" />

				<span class="username">

					<a href="#">@item.KATEGORI</a>

					<a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>

				</span>

				<span class="description">@item.TARIH</span>

			</div>
			<p>
				@item.ICERIK
			</p>
		</div>
	</div>
}